
.btn{
    margin-right: auto;
    margin-left: auto;
}

.btn-primary{
    margin-right: auto;
    margin-left: auto;
}

.header{
    text-align: center;
}

.form-group{
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
}